h1, h2, h3, h4, p, a, label, button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkslategrey;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: white;
}

.iti__flag {background-image: url("path/to/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {background-image: url("path/to/flags@2x.png");}
}